[Unit]
Description=Snotify user daemon

[Service]
ExecStartPre=/usr/bin/sleep 1s
ExecStart=/usr/bin/snotify
Restart=always
RestartSec=1
MemoryMax=20M

[Install]
WantedBy=default.target
