[Unit]
Description=Snotify user daemon
After=dbus.service

[Service]
ExecStart=/usr/bin/snotify
Restart=always
RestartSec=1s
MemoryHigh=16M
MemoryMax=20M
OOMPolicy=kill

CPUQuota=3%


CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallArchitectures=native
UMask=0600

SystemCallFilter=~@reboot
SystemCallFilter=~@raw-io
SystemCallFilter=~@privileged
SystemCallFilter=~@mount
SystemCallFilter=~@module
SystemCallFilter=~@debug
SystemCallFilter=~@cpu-emulation
PrivateUsers=yes
PrivateNetwork=yes

[Install]
WantedBy=default.target
