[Unit]
Description=Snotify user daemon
After=dbus.service

[Service]
ExecStart=/usr/bin/snotify
Restart=always
RestartSec=1
MemoryMax=20M

[Install]
WantedBy=default.target
